%form{ :action => '/', :method => 'post', :id => 'lookup' }
  %input{ :type => 'text', :id => 'resource_id', :placeholder => 'id', :value => @resource_id }
  %input{ :type => 'submit', :value => 'Get' }
